/* Style for the entire page */
body {
    background-image: url('../images/cloud_form.jpg'); 
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100vh;
}

/* Style for the form container */
form {
    margin-right:  295px;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    padding: 35px 45px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

/* Style for the form title */
h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Style for form labels and input fields */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Style for the submit button */
input[type="submit"] {
    background-color: #007bff; /* Change to your desired button color */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

